.banner_slide{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0;
    min-height: 480px;
    background-color: rgba(34, 34, 34, 0.5);
}

.slick_dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick_dots > li {
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;
}


.slick_dots > li > button {
    width: 8px;
    height: 8px;
    font-size: 0;
    vertical-align: center;
    padding: 0;
    border: 0;
    border-radius: 8px;
}

.slick_arrow_left{
    position: absolute;
    bottom: 50%;
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 0;
    outline: none;
    appearance: none;
    background-image: url("/img/to_left.svg");
    background-color: rgb(0, 0, 0, 0);
    border-color: rgb(0, 0, 0, 0);
}

.slick_arrow_right {
    position: absolute;
    bottom: 50%;
    width: 80px;
    height: 80px;
    right: 0;
    padding: 0;
    border-radius: 0;
    outline: none;
    appearance: none;
    background-image: url("/img/to_right.svg");
    background-color: rgb(0, 0, 0, 0);
    border-color: rgb(0, 0, 0, 0);
}

.shortcut_collection{
    margin-top: 50px;
}

.shortcut_items_wrapper{
    padding: 0 32.5px;
    max-width: 1280px;
    margin: 0 auto;
}

.shortcut_item{
    text-align: center;
    width: calc(20% - 15px);
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.shortcut_item_img{
    position: relative;
    padding: 1px;
    border-radius: 10px;
    height: 100px;
    background-color: rgba(34, 34, 34, 0.5);
    vertical-align: middle;
}

.shortcut_item_img > img {
    width: 100%;
    max-width: 110px;
}


.shortcut_item_title{
    margin-top: 8px;
}

.home_products{
    margin-top: 30px;
}

.product_title{
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
}

.product_list_wrap{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    overflow-anchor: none;
}

.product_list{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.product_item{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    padding: 0 12px;
    width: calc(25% - 28px);
}

.product_item > .item_inner > .thumb_box > .product{
    background-color: rgba(98, 98, 98, 0.6);
    content: "";
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    border-radius: 8px;
}

.product_item > .item_inner > .thumb_box > .product > img{
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    z-index: 1;
}

.title{
    font-size: 20px;
    letter-spacing: -.1px;
    font-weight: 700;
    color: #000;
}

.sub_title{
    font-size: 14px;
    letter-spacing: -.21px;
    color: rgba(34,34,34,.5);
}

.info_box{
    padding-top: 9px;
}

.info_box > .name {
    line-height: 17px;
    margin-top: 8.5px;
    max-height: 34px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 14px;
    color: #222;
}

.info_box > .price {
    padding-top: 7px;
}

.price > .desc {
    line-height: 13px;
    font-size: 11px;
    color: rgba(34,34,34,.5);
}

.brand_text{
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    height: 17px;
    line-height: 17px;
    padding-bottom: 2px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border-bottom: 1px solid #222;
}

.shortcut_item_img > h1 {
    display: table;
    text-align: center;
    table-layout: fixed;
}

h1 > .card {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}